/*
 * Variables
 */
/*
 * Normalize CSS
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Courier New, Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

/*
 * Components
 */
.base {
  background-color: olivedrab;
  height: 100vh;
  width: 100vw;
  font-size: 4rem;
}

/*
.b-clock{
    box-sizing: border-box;
    font-size: 4rem;
    margin: 0.5em;
    
    &__stack {        
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: $stack-color;
        height: 2em;
    }    

    &__letter {        
        position: relative;
        background-color: $letter-color;
        height: 2em;
        width: 100%;
        overflow: hidden;
    }

    &__flip {
        position: absolute;
        font-size: 4em;
        line-height: 1;
        background-color: $flip-color;
        transition: transform 0.25s;
        transform: rotateX(0deg);

        &--front {
            z-index: 400;
        }

        &--back {
            z-index: 200;
            transition: transform 0s;
        }

        &--up{
            top: 0;
        }

        &--down{
            top: -0.5em;
        }

        &--rotate{
            transform: rotateX(90deg);
        }
    }    

}
*/
.letter {
  color: silver;
  background-color: salmon;
  font-size: 4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

.l-flip {
  background-color: blue;
  width: 100%;
  height: 0.5em;
  overflow: hidden;
  position: relative;
}

.l-layer {
  background-color: red;
  width: 1em;
  text-align: center;
  position: absolute;
  z-index: 200;
  transform: rotateX(0deg);
  transition: all 0.25s;
}

.l-layer.-isdown {
  top: -0.5em;
}

.l-layer.-isback {
  z-index: 100;
}

.l-layer.-isrotated {
  transform: rotateX(90deg);
}
