/*
 * Variables
 */
/*
 * Normalize CSS
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Courier New, Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

/*
 * Components
 */
.base {
  background-color: olivedrab;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
}

.letter {
  color: black;
  font-size: 4em;
  line-height: 1;
  height: 1em;
  width: 1em;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
}

.l-flip {
  width: 100%;
  height: 0.5em;
  overflow: hidden;
  position: relative;
}

.l-layer {
  background-color: white;
  width: 1em;
  text-align: center;
  position: absolute;
  z-index: 200;
  transform: rotateX(0deg);
  transition: transform .25s ease-out;
}

.l-layer.-isdown {
  top: -0.5em;
}

.l-layer.-isback {
  z-index: 100;
}

.l-layer.-isrotated {
  transform: rotateX(90deg);
  transition-timing-function: ease-in;
}
