/*
 * Variables
 */
/*
 * Normalize CSS
 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: Courier New, Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

/*
 * Components
 */
.base {
  background-color: olivedrab;
  height: 100vh;
  width: 100vw;
}

.b-clock {
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0.5em;
}

.b-clock__stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 0, 0.6);
  height: 2em;
}

.b-clock__letter {
  position: relative;
  background-color: rgba(255, 165, 0, 0.6);
  height: 2em;
  width: 100%;
  overflow: hidden;
}

.b-clock__flip {
  position: absolute;
  font-size: 4em;
  line-height: 1;
  background-color: salmon;
  transition: all .25s;
  transform: rotateX(0deg);
}

.b-clock__flip--front {
  z-index: 200;
}

.b-clock__flip--back {
  z-index: 100;
}

.b-clock__flip--up {
  top: 0;
}

.b-clock__flip--down {
  top: -0.5em;
}

.b-clock__flip--rotate {
  transform: rotateX(90deg);
}
